[`Выберите метод оплаты`]
{if $p2p}
<form id="paymentForm" action="{$form_url}" method="post">
	<input type="hidden" name="action" value="p2p">
	<table class="radio" style="width: 50%;margin: 25px auto;">
	   <tbody>
		<tr class="highlight">
			<td><input type="radio" name="payment-type" value="wallet" checked="" id="ym1"></td>
			<td><label for="ym1">[`Яндекс.Деньги`]</label></td>
		</tr>
	   <tr class="highlight">
			<td><input type="radio" name="payment-type" value="card" id="ym2"></td>
			<td><label for="ym2">[`Банковские карты`]</label></td>
		</tr>
		</tbody>
	</table>
	<input id="paymentFormSubmit"  type="submit" value="[`Оплатить заказ на сайте Яндекс.Денег`]"/>
</form>
{/if}
{if $kassa}
<form id="paymentFormKassa" action="{$form_url_kassa}" method="post">
    {foreach $hidden_fields as $name => $value}
        <input type="hidden" name="{$name}" value="{$value|escape}"/>
    {/foreach}

	{if $inside}
	<table class="radio" style="width: 50%;margin: 25px auto;">
	   <tbody>
	   {if $wallet}
		<tr class="highlight">
			<td><input type="radio" name="paymentType" value="PC"></td>
			<td><label for="ym1">[`Оплата из кошелька в Яндекс.Деньгах.`]</label></td>
		</tr>
		{/if}
		{if $card}
		<tr class="highlight">
			<td><input type="radio" name="paymentType" value="AC"></td>
			<td><label for="ym2">[`Оплата с произвольной банковской карты.`]</label></td>
		</tr>
		{/if}
		{if $terminal}
		<tr class="highlight">
			<td><input type="radio" name="paymentType" value="GP"></td>
			<td><label for="ym3">[`Оплата наличными через кассы и терминалы.`]</label></td>
		</tr>
		{/if}
		{if $sms}
		<tr class="highlight">
			<td><input type="radio" name="paymentType" value="MC"></td>
			<td><label for="ym4">[`Платеж со счета мобильного телефона.`]</label></td>
		</tr>
		{/if}
		{if $wm}
		<tr class="highlight">
			<td><input type="radio" name="paymentType" value="WM"></td>
			<td><label for="ym5">[`Оплата из кошелька в системе WebMoney.`]</label></td>
		</tr>
		{/if}
		{if $sber}
		<tr class="highlight">
			<td><input type="radio" name="paymentType" value="SB"></td>
			<td><label for="ym6">[`Оплата через Сбербанк: оплата по SMS или Сбербанк Онлайн.`]</label></td>
		</tr>
		{/if}
		{if $alfa}
		<tr class="highlight">
			<td><input type="radio" name="paymentType" value="AB"></td>
			<td><label for="ym7">[`Оплата через Альфа-Клик.`]</label></td>
		</tr>
		{/if}
		{if $ma}
		<tr class="highlight">
			<td><input type="radio" name="paymentType" value="MA"></td>
			<td><label for="ym8">[`Оплата через MasterPass.`]</label></td>
		</tr>
		{/if}
		{if $pb}
		<tr class="highlight">
			<td><input type="radio" name="paymentType" value="PB"></td>
			<td><label for="ym9">[`Оплата через Промсвязьбанк.`]</label></td>
		</tr>
		{/if}
		{if $qw}
		<tr class="highlight">
			<td><input type="radio" name="paymentType" value="PB"></td>
			<td><label for="ym10">[`Оплата через QIWI Wallet.`]</label></td>
		</tr>
		{/if}
		{if $qp}
		<tr class="highlight">
			<td><input type="radio" name="paymentType" value="PB"></td>
			<td><label for="ym11">[`Оплата через доверительный платеж (Куппи.ру).`]</label></td>
		</tr>
		{/if}
		
		</tbody>
	</table>
	<input id="paymentFormSubmit"  type="submit" value="[`Оплатить заказ на сайте Яндекс.Денег`]"/>
	{else}
		<br/>
        <br/>
		<i class="icon16 loading"></i>
        <em>Перенаправление на сайт «Яндекс.Денег» для оплаты...</em>
        <br/>
        <br/>
	{/if}
</form>
<script>
	$(document).ready(function(){
		$('input[name="paymentType"]').first().attr('checked', true);
		{if !$inside}
			setTimeout(function(){
				$('#paymentFormKassa').submit();
			}, 3000);
		{/if}
	})
</script>
{/if}